
.signIn {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.signIn__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-left: 6px;
    margin-right: 69px;
    color:#a88734;
}

.signIn_container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
}

.signIn_container > h2 {
    font-weight: 5px;
    margin-bottom: 20px;
}

.signIn_container > form > label {
    margin-bottom: 5px;
}

.signIn_container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.signIn_container > p {
    margin-top: 15px;
    font-size: 12px;
}

.signIn_container > h5 {
    font-size: 12px;

}

.signIn__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.SignIn__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}